<!DOCTYPE html>
<html>
  <head>
    <title>LittleJohn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- FIXME: handle this on frontend -->
    <% if logged_in? %>
      <h3>Welcome, <%= current_user.first_name %></h3>
      <%= button_to 'Logout', api_session_url, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
