<!DOCTYPE html>
<html>
  <head>
    <title>LittleJohn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
     window.loginURL = "<%= image_url 'login.jpg' %>"
     window.splashImageURL = "<%= image_url 'splash_image.png' %>"
     window.splashVideoURL = "<%= image_url 'splash_video.gif' %>"

     /* window.avAPIKey = "<%= Rails.application.credentials.alphavantage[:api_key] %>" */
     window.avKeys = "<%= Rails.application.credentials.alphavantage[:api_key] %>"
       .split(' ');
     window.iexAPIKey = "<%= Rails.application.credentials.iexcloud[:api_key] %>"
    </script>
    
  </head>
  <body class="theme-open-up">
    <%= yield %>
  </body>
</html>
