<!DOCTYPE html>
<html>
  <head>
    <title>LittleJohn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', debug: false %>
    <script type="text/javascript">
     window.loginURL = "<%= image_url 'login.jpg' %>"
     window.splashImageURL = "<%= image_url 'splash_image.png' %>"
     window.splashVideoURL = "<%= image_url 'splash_video.gif' %>"
     window.followIconURL = "<%= image_url 'follow-icon.png' %>"
     window.stonksURL = "<%= image_url 'stonks.png' %>"

     /* window.avAPIKey = "<%= Rails.application.credentials.alphavantage[:api_key] %>" */
     window.avKeys = "<%= Rails.application.credentials.alphavantage[:api_key] %>"
       .split(' ');
     window.iexAPIKey = "<%= Rails.application.credentials.iexcloud[:api_key] %>"
     window.iexKey = "<%= ENV['IEX_KEY'] %>"
    </script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
